/* 
  * CSS Boilerplate
  * v0.1.9
  *
  * License: GPL-3.0 license
  * Copyright: Hackdanismo (Dan Jackson) and any other contributors
  *
  * Date: 2024-09-08
*/

*, *::before, *::after {
  /* Ensure all elements apply the correct box-sizing model */
  box-sizing: border-box;
  /* Remove margin from all elements by default */
  margin: 0;
  /* Remove padding from all elements by default */
  padding: 0;
  /* Inherit any font that has been set */
  font: inherit;
}

body {
  /* Set the root font-size */
  font-size: 16px;
  /* The root font-size will use the rem unit with a px unit as a fallback if needed */
  font-size: 1rem;
  /* 
  * Improve readability of text by providing spacing to reduce eye strain.
  * Helps to improve accessibility making the text easier to scan especially on small screens and mobile devices.
  */
  line-height: 1.5;
  /* Ensure the body will fill the visible part of the screen. Not currently supported in Firefox */
  min-height: 100svh;
  /* Improve the readability of fonts in WebKit browsers to render the edges of the characters to look smooth on screen */
  -webkit-font-smoothing: antialiased;
  /* Applies the same font readability to Firefox browsers on macOS */
  -moz-osx-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  /* Balance out the length of headings */
  text-wrap: balance;
}

p {
  /* Set the maximum number of characters in a paragraph */
  max-width: 75ch;
  /* Balance text that has a large number of characters on the page. Not currently supported in Firefox */
  text-wrap: pretty;
}

main, picture, svg, video {
  /* Set the elements to be block-level elements by default */
  display: block;
}

img, picture, svg, video {
  /* Restrict the element width to not exceed the parent container to keep aspect ratio but allow the element to scale-down */
  max-width: 100%;
}

img {
  /* Replace the default inline-block behavior to be full-width and to stack when needed */
  vertical-align: middle;
  /* Retain the aspect ratio of the image that is usually set with the HTML width and height attributes */
  height: auto;
  /* Set the tooltip text style to make it easier to identify in text if the image does not load */
  font-style: italic;
  /* Handle loading low resolution images for lazy-loading */
  background-repeat: no-repeat;
  background-size: cover;
  /* Create margin around a floated image with content */
  shape-margin: 1rem;
}

button {
  /* Ensure the text within a button wraps correctly on small devices */
  min-width: fit-content;
}

/* Apply styling for React or Next.js applications */
#root, #__next {
  /* 
  * Ensures all content inside the app is rendered with its own stacking context.
  * This controls how child elements are layered in terms of z-index and paint order.
  * Prevents z-index conflicts or visual overlaps between elements inside of the isolate element specified.
  */
  isolation: isolate;
}