*, *::before, *::after {
  /* Ensure all elements apply the correct box-sizing model */
  box-sizing: border-box;
  /* Remove margin from all elements by default */
  margin: 0;
  /* Remove padding from all elements by default */
  padding: 0;
}

body {
  /* Set the root font-size */
  font-size: 16px;
  /* The root font-size will use the rem unit with a px unit as a fallback if needed */
  font-size: 1rem;
}

img {
  /* Replace the default inline-block behavior to be full-width and to stack when needed */
  display: block;
  /* Restrict the image width to not exceed the parent container to keep aspect ratio but allow imaeg to scale-down */
  max-width: 100%;
}