/** Custom CSS for the landing page **/

/* Darker Grotesque Regular - Webfont - as WOFF2 file format */
@font-face {
  font-display: swap;
  font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 400;
  /* Supported in the following browser versions: Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  src: url("../fonts/darker-grotesque-v8-latin-regular.woff2") format("woff2");
}

/* Darker Grotesque Bold - Webfont - as WOFF2 file format */
@font-face {
  font-display: swap;
  font-family: "Darker Grotesque Bold";
  font-style: normal;
  font-weight: 700;
  /* Supported in the following browser versions: Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  src: url("../fonts/darker-grotesque-v8-latin-700.woff2") format("woff2");
}

body {
  /* Apply the Regular Webfont with fallback system fonts should the Webfont not load */
  font-family: "Darker Grotesque", Arial, Helvetica, sans-serif;
  /* Override the default font-size in the boilerplate reset to make the text larger and easier to read */
  font-size: 20px;
  /* Default to the rem unit but use the px fallback if needed */
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  /* Apply the Bold Webfont with fallback system fonts should the Webfont not load */
  font-family: "Darker Grotesque Bold", Arial, Helvetica, sans-serif;
}

h1 {
  /* Set the minimum and maximum font-size for H1 headings without the use of media queries */
  font-size: clamp(2rem, 8vw, 6rem);
}

h2 {
  /* Set the minimum and maximum font-size for H2 headings without the use of media queries */
  font-size: clamp(1.5rem, 8vw, 3rem);
}

/* The container is used to act as a wrapper to contain the page content and avoid content being full-width */
.container {
  /* 
  * Set the maximum size of the container to be 1200px.
  * Calculate the min-width of the container to be 100% of the parent minus 15px.
  * The 15px value is the spacing on the left/right of the container.
  */
  width: min(100% - 15px, 1200px);
  /* Center the element within the parent container */
  margin-inline: auto;
}

/* Apply default styling to the HTML section element */
section {
  /* 
  * Set the vertical spacing using margin between section elements on the page.
  * The spacing between sections grows or shrinks based on the viewport width.
  * This will never be smaller than 1rem or larger than 1.5rem.
  * The 2vw value is the dynamic margin, which will adjust based on 2% of the viewport width.
  * The 0 value at the end removes any left or right margin helping to align the sections to the edges of the container.
  */
  margin: clamp(1rem, 2vw, 1.5rem) 0;
}

p {
  /* Set the minimum and maximum font-size for paragraphs without the use of media queries */
  font-size: clamp(0.5rem, 3vw, 1.25rem);
}

/* Apply styling to the navigation bar on the page */
.navigation {
  /* Apply styling to the unordered list in the navigation element using native CSS nesting */
  & ul {
    /* Display links within the navigation to be horizontal */
    display: flex;
    /* Align the links to be on the right side of the page on desktop */
    justify-content: flex-end;
    /* Use the gap property to apply spacing between each navigation item */
    gap: 1rem;
  }
}